[submodule "domohome-hub-ui-web"]
	path = domohome-hub-ui-web
	url = git@github.com:destradax/domohome-hub-ui-web.git
[submodule "domohome-hub"]
	path = domohome-hub
	url = git@github.com:destradax/domohome-hub.git
[submodule "domohome-devices"]
	path = domohome-devices
	url = git@github.com:destradax/domohome-devices.git
